@media(max-width: 1230px){
  .mailing__title{
    font-size: 60px;
  }
  .mailing-arrow{
    left: 20px;
  }
  .form-block{
    justify-content: center;
  }
}

@media(max-width: 1100px){
  .aboutme__img{
    display: none;
  }
  .aboutme__img-mobile{
    display: block;
  }
  .aboutme__arrow{
    display: none;
  }
  .aboutme__info{
    margin-left: 50px;
  }
  .aboutme__lamp{
    left: 400px;
  }

  .works__exemple{
    gap: 0;
  }
  .works__exemple-item{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
  .works__exemple-img{
    padding: 20px;
    width: 220px;
    height: 182px;
  }

  .mailing-arrow{
    display: none;
  }
  .mailing-img{
    margin-left: 10px;
  }
  .mailing__title{
    font-size: 55px;
  }
  
}

@media(max-width: 1000px){
  .header{
    margin-bottom: 50px;
  }
  .hero__info-inner{
    padding-top: 50px;
  }
  .hero__img-pc{
    display: none;
  }
  .hero__img-mobile{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .hero__text{
    font-size: 76px;
  }
  .hero__go-down{
    margin-top: 150px;
  }
  .hero__arrow{
    max-width: 70px;
    top: 120px;
  }
  .works__exemple-item{
    width: 220px;
  }
  .mailing__title{
    max-width: 100%;
  }

  .mailing-info{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .mailing-img{
    margin-left: 0;
  }
  .mailing__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-block{
    display: flex;
    justify-content: center; 
  }
  .mailing-img{
    width: 25vh;
  }
}


@media(max-width: 830px){
  .title{
    font-size: 50px;
  }
  .aboutme__inner{
    flex-direction: column;
    justify-content: center;
  }
  .aboutme__lamp{
    display: none;
  }
  .aboutme__img-mobile{
    max-width: 50%;
    margin: 0 auto;
  }


}

@media(max-width: 800px){
  .hero__img-mobile{
    display: none;
  }
  .hero__go-down{
    display: none;
  }
  .form-block{
    justify-content: flex-start;
  }
  .form{
    margin-top: 50px;
  }
}

@media(max-width: 750px){
  .works__exemple{
    grid-template-columns: repeat(1, 1fr);
  }
  .works__exemple-item{
    width: 65%;
  }
  .mailing{
    margin-top: 100px;
  }
  .mailing__mail{
    bottom: -90px;
  }
}

@media(max-width: 640px){
  .form__input{
    margin-right: 1px;
  }
  .form-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form__input-message{
    padding: 0;
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
  }


}

@media(max-width: 625px){
  .hero__text{
    font-size: 60px;
  }
  .header{
    margin-bottom: 25px;
  }
  .hero__info-inner{
    padding-top: 0;
  }
  .hero__arrow{
    max-width: 60px;
    top: 65px;
    left: -70px;
  }
  .hero{
    min-height: 540px;
  }
  
}



@media(max-width: 580px){
  .nav__list{
    gap: 20px;
  }
  .nav__inner{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav-logo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .nav__list{
    text-align: center;
    flex-direction: column;
    margin-top: 45px;
    gap: 13px;
  }

  .hero{
    width: 100%;
  }
  
  .hire-btn{
    font-size: 14px;
    padding: 10px 26px;
  }
  .download-btn{
    font-size: 14px;
    padding: 10px 60px 10px 28px;
  }
  .works__btn{
    font-size: 14px;
  }
}

@media(max-width: 500px){
  .hero__text{
    font-size: 58px;
  }
  .hire-btn{
    margin: 0;
  }
  .hero__arrow{
    max-width: 50px;
    top: 59px;
  }
  .aboutme__img-mobile{
    max-width: 70%;
  }
  .hero{
    min-height: 400px;
  }
  .aboutme__info{
    margin: 0;
  }

  .works__btn{
    padding: 10px 22px;
  }
}

@media(max-width: 430px){
  .hero__buttons{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .download-btn{
    padding-right: 23px;
    justify-content: center;
  }
  .download-btn svg{
    top: 6px;
  }
  .hire-btn{
    width: 230px;
    margin-bottom: 20px;
  }
  .hero__arrow{
    display: none;
  }
  .hero__text{
    text-align: center;
  }

  .aboutme__text{
    font-size: 14px;
  }
  .title{
    font-size: 44px;
  }
  .hero__text{
    font-size: 46px;
  }
  .hero__info-inner{
    margin: 0 auto;
  }

  .works__btn{
    padding: 10px 12px;
  }
  .works__exemple-item{
    width: 85%;
  }
}

@media(max-width: 360px){
}