html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
html,
body{
  height: 100%;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* .main{
  flex-grow: 1;
} */
a{
  text-decoration: none;
  color: inherit;
}
button{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
ul{
  list-style: none;
  margin: 0;
}
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}


body{
  /* font-family: "Oswald", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #EEEEEE;
  background-color: #222831;
}

/* Styles */
.container{
  max-width: 1290px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Title style */
.title{
  font-weight: 700;
  font-size: 64px;
}

/* Header */
.header{
  margin-bottom: 163px;
  border-bottom: 1px solid rgba(238,238,238,0.1);
  /* background-color: #222831; */
}

.nav__inner{
  display: flex;
  justify-content: space-between;
}
.nav-logo{
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 48px 0;
}
.nav__list{
  display: flex;
  margin: 48px 0px 57px;
  gap: 48px;
}

/* Hero */
.hero{
  min-height: 660px;
}
.hero__info-inner{
  margin-left: 85px;
  position: relative;
  margin-bottom: 200px;
}
.hero__text{
  padding-top: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  max-width: 586px;
  margin-bottom: 48px;
}
.hero__text span{
  color: #00ADB5;
}

.hero__arrow{
  position: absolute;
  top: 83px;
  left: -85px;
  transform: rotate(-2deg);
}

.hire-btn{
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #00ADB5;
  border-radius: 24px;
  padding: 10px 32px;
  margin-right: 24px;
}
.download-btn{
  backdrop-filter: blur(4px);
  border-radius: 24px;
  padding: 10px 66px 10px 32px;
  width: 230px;
  background: rgba(57, 62, 70, 0.75);
  position: relative;
}
.btns{
  display: flex;
}
.download-btn svg {
  position: absolute;
  top: 9px;
  right: 31px;
}
.hero__img{
  position: absolute;
  top: 0;
  right: 0;
}
.hero__go-down{
  display: flex;
  margin-left: 284px;
  margin-top: 300px;
  max-width: 96px;
}

/* About me */
.aboutme{
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);;
  margin-bottom: 120px
}
.aboutme__inner{
  display: flex;
  justify-content: space-between;
  position: relative;
  /* padding-bottom: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 40px; */
}
.aboutme__title{
  margin-bottom: 30px;
}
.aboutme__title span{
  color: #00ADB5;
}
.aboutme__text{
  color: rgba(238, 238, 238, 0.75);
  max-width: 390px;
}
.aboutme__text a{
  color: #EEEEEE;
  font-weight: 700;
}
/* AboutMe decoration */
.aboutme__arrow{
  position: absolute;
  bottom: 0;
  left: 160px;
}
.aboutme__note{
  position: absolute;
  top: -100px;
  left: 0;
}
.aboutme__lamp{
  position: absolute;
  left: 355px;
  top: -20px;
}

/* My works */
.works{
  background-image: url(../images/works-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 270px;
}

.works__title{
  padding-top: 268px;
  margin-bottom: 25px;
}
.works__title span{
  color: #00ADB5;
}

.works__list{
  display: flex;
  padding: 0;
  gap: 16px;
}
.works__btn{
  backdrop-filter: blur(8px);
  font-weight: 700;
  font-size: 18px;
  border-radius: 24px;
  padding: 10px 32px;
  color: #EEEEEE;
  background: rgba(57, 62, 70, 0.5);
  cursor: pointer;
}
.works__btn--active{
  background-color: #00ADB5;
}

.works__exemple{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
.works__exemple-img{
  max-height: 158px;
  object-fit: cover;
}
.works__exemple-item{
  margin-top: 48px;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 16px;
}