html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
html,
body{
  height: 100%;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}
input {
  color: #fff; /* Цвет текста */
  caret-color: #fff; /* Цвет курсора */
}
textarea{
  resize: none;
  color: #fff;
  caret-color: #fff;
}


body{
  /* font-family: "Oswald", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #EEEEEE;
  background-color: #222831;
}

/* Styles */
.container{
  max-width: 1290px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Title style */
.title{
  font-weight: 700;
  font-size: 64px;
}

/* Header */
.header{
  margin-bottom: 163px;
  border-bottom: 1px solid rgba(238,238,238,0.1);
  /* background-color: #222831; */
}

.nav__inner{
  display: flex;
  justify-content: space-between;
}
.nav-logo{
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 48px 0;
}
.nav-logo:hover{
  color: #00ADB5;
  transition: all .3s;
}
.nav__list{
  display: flex;
  margin: 57px 0px 57px;
  gap: 48px;
}
.nav__item{
  transition: all .3s;
}
.nav__item:hover{
  color: #00ADB5;
}

/* Hero */
.hero{
  min-height: 660px;
}
.hero__info-inner{
  margin-left: 85px;
  position: relative;
  margin-bottom: 200px;
}
.hero__text{
  position: relative;
  padding-top: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  max-width: 586px;
  margin-bottom: 48px;
  z-index: 2;
}
.hero__text span{
  color: #00ADB5;
}

.hero__arrow{
  position: absolute;
  top: 83px;
  left: -85px;
  transform: rotate(-2deg);
}

.hire-btn{
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #00ADB5;
  border-radius: 24px;
  padding: 10px 32px;
  margin-right: 24px;
  transition: all .3s;
}
.hire-btn:hover,
.form-btn:hover{
  color: #00ADB5;
  background-color: #EEEEEE;
  text-shadow: none;
}
.download-btn{
  backdrop-filter: blur(4px);
  border-radius: 24px;
  padding: 10px 66px 10px 32px;
  width: 230px;
  background: rgba(57, 62, 70, 0.75);
  position: relative;
  transition: all .3s;
  z-index: 2;
}
.download-btn:hover{
  background-color: #00ADB5;

}
.btns{
  display: flex;
}
.download-btn svg {
  position: absolute;
  top: 9px;
  right: 31px;
}
.hero__img-mobile{
  display: none;
}
.hero__img-pc{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.hero__go-down{
  display: flex;
  margin-left: 284px;
  margin-top: 300px;
  max-width: 96px;
}
.hero__go-down-link{
  transition: all .3s;
  padding: 30px 37px 30px 36px;
  background-color: #393E46;
}
.hero__go-down-link:hover{
  background-color: #00ADB5;
}

/* About me */
.aboutme__img-mobile{
  display: none;
}
.aboutme{
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);;
  margin-bottom: 120px
}
.aboutme__inner{
  display: flex;
  justify-content: space-between;
  position: relative;
  /* padding-bottom: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 40px; */
}
.aboutme__title{
  margin-bottom: 30px;
}
.aboutme__title span{
  color: #00ADB5;
}
.aboutme__text{
  color: rgba(238, 238, 238, 0.75);
  max-width: 390px;
}
.aboutme__text a{
  color: #EEEEEE;
  font-weight: 700;
}
/* AboutMe decoration */
.aboutme__arrow{
  position: absolute;
  bottom: 0;
  left: 160px;
}
.aboutme__note{
  position: absolute;
  top: -100px;
  left: 0;
}
.aboutme__lamp{
  position: absolute;
  left: 355px;
  top: -20px;
  transition: fill .72s ease;
}
.aboutme__lamp:hover path{
  stroke: #f8ec3d;
}

/* My works */
.works{
  background-image: url(../images/works-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 270px;
}

.works__title{
  padding-top: 268px;
  margin-bottom: 25px;
}
.works__title span{
  color: #00ADB5;
}

.works__list{
  display: flex;
  padding: 0;
  gap: 16px;
}
.works__btn{
  backdrop-filter: blur(8px);
  font-weight: 700;
  font-size: 18px;
  border-radius: 24px;
  padding: 10px 32px;
  color: #EEEEEE;
  background: rgba(57, 62, 70, 0.5);
  cursor: pointer;
}
.works__btn--active{
  background-color: #00ADB5;
}

.works__exemple{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
.works__exemple-img{
  max-height: 158px;
  object-fit: cover;
}
.works__exemple-item{
  margin-top: 48px;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 16px;
}


/* Mailing */
.mailing{
  margin-top: 260px;
  margin-bottom: 100px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  padding-bottom: 250px;
}
.mailing__inner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.mailing__keyboard{
  position: absolute;
  right: 371px;
  top: -200px;
}
.mailing__mail{
  position: absolute;
  bottom: -43px;
  right: 117px;
}
.mailing__title{
  line-height: 125%;
  max-width: 600px;
}
.mailing__title span{
  color: #00ADB5;
}
.mailing-info{
  position: relative;  
}
.mailing-arrow{
  position: absolute;
  transform: rotate(175deg);
  bottom: 140px;
  left: 40px;
}
.mailing-img{
  margin-left: 216px;
}
.form{
  max-width: 600px;
}

.form__text{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  max-width: 288px;
}
.form__input-name,
.form__input-email,
.form__input-message{
  max-width: 100%;
  border: none;
  outline: none;
  border-radius: 16px;
  background: rgba(57, 62, 70, 0.5);
}

.form__input-name,
.form__input-email{
  padding: 16px 24px;
  width: 288px;
}
.form__input-message{
  width: 600px;
  height: 280px;
  max-height: 100%;
  max-width: 100%;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.form__input-name:focus,
.form__input-email:focus{
  padding: 15px 23px;
  border: 1px solid #00ADB5;
}
.form__input-message:focus{
  /* width: 599px;
  height: 279px;
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 23px; */
  border: 1px solid #00ADB5;
}


.form-block{
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-right: 15px;
}

.form-btn{
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  gap: 10px;
  font-size: 18px;
  color: #EEEEEE;
  font-weight: 700;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  padding: 10px 32px;
  background-color: #00ADB5;
  transition: all .3s;
}
.form-btn img{
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.5));
}





/* Footer */
.footer__nav{
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.footer__nav-item-inner{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.footer__social{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
  gap: 24px;
}
.footer__social-item{
  display: flex;
  border-radius: 50px;
  background-color: #393E46;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: all .3s;
}

.footer__link{
  display: flex;
  justify-content: flex-end;
  margin-top: 92px;
  margin-bottom: 48px;
  color: rgba(238, 238, 238, 0.75);
}
.footer__social-item--link{
  height: 24px;
}
.footer__social-item--link path{
  transition: all .3s;
}

.footer__nav-item-inner--link,
.footer__nav-item-inner--link path{
  align-items: center;
  display: flex;
  gap: 10px;
  transition: all .3s;
}
.footer__nav-item-inner--link:hover{
  color: #00ADB5;
}
.footer__nav-item-inner--link:hover path{
  stroke: #00ADB5;
}

.footer__social-item:hover{
  background-color: #EEEEEE;
}
.footer__social-item:hover .facebook path{
  stroke: #3b5998;
}
.footer__social-item:hover .instagram path{
  stroke: #d62976;
}
.footer__social-item:hover .twitter path{
  stroke: #00acee;
}
.footer__social-item:hover .youtube path{
  stroke: #c4302b;
}
.footer__terms{
  transition: all .3s;
}
.footer__terms:hover{
  color: #00ADB5;
}